body {
  /* background-image: url("https://i.ibb.co/XLVW8G9/test-background.jpg" */
  background: url("https://i.ibb.co/XLVW8G9/test-background.jpg")no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center
  
}